<div id="<%= dom_id order %>">
  <p>
    <strong>Account:</strong>
    <%= order.account_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

</div>
