<div id="<%= dom_id variant %>">
  <p>
    <strong>Account:</strong>
    <%= variant.account_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= variant.product_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= variant.title %>
  </p>

</div>
