<div id="<%= dom_id product %>">
  <p>
    <strong>Account:</strong>
    <%= product.account_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

</div>
