<h1>Добро пожаловать!</h1>
<form action=<%= start_train_account_path(account) %> method='post' class='mt-3'>
  <button type="submit" class="btn btn-primary">Обучить рекомендательную модель</button>
</form>
